@model IEnumerable<Razor_Pre_TPI_AppartRental.Models.AppartementViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>WishList</h1>
<p>@User.Identity.Name</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppartementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rated)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppartementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <button id="@item.AppartementId" data-val="@item.Visited" class="btn btnVisited border-dark">
                    @(item.Visited ? " ✓ " : " not visited yet ")
                </button>
            </td>
            <td>
                <button id="@item.AppartementId" data-val="@(item.Rated)" class="btn btnRate border-dark">
                    @( !item.Rated ? " rate " : " unrate ") 
                </button>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Appartements" asp-route-id="@item.AppartementId">Edit</a> |
                <a asp-action="Details" asp-controller="Appartements" asp-route-id="@item.AppartementId">Details</a> |
                <a asp-route-id="@item.AppartementId" id="@item.AppartementId" class="aRemoveFromWish">Remove</a>
            </td>
        </tr>}
    </tbody>
</table>


@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $('.btnVisited').click(function (e) {
                var btn = $(this);
                var AppartementId = btn.attr('id');
                var AppartementVal = btn.attr('data-val') == "False" ? 0 : 1;

                $.get('/WishList/VisitedOrNot?appartId=' + AppartementId + '&val=' + AppartementVal,
                    function (data) {
                        if (data == 0) {
                            btn.attr('data-val', 'False');
                            btn.html(' not visited yet ');
                        }
                        else if (data == 1)
                        {
                            btn.attr('data-val', 'True');
                            btn.html(' ✓ ');
                        }
                        else
                        {
                            console.log("error");
                        }
                        console.log("id = " + AppartementId + " val = " + AppartementVal + " retour = " + data);
                    });
            });

            $('.btnRate').click(function (e) {
                var btn = $(this);
                var AppartementId = btn.attr('id');
                var AppartementVal = btn.attr('data-val') == "True" ? 0 : 1;

                $.get('/Appartements/Rate?appartId=' + AppartementId + '&val=' + AppartementVal,
                    function (data) {
                        if (data == 0) {
                            btn.attr('data-val', 'False');
                            btn.html(' unrate ');
                            console.log("ok -> sets to unrate !");
                        }
                        else if (data == 1) {
                            btn.attr('data-val', 'True');
                            btn.html(' rate ');
                            console.log("ok -> sets to rate !");
                        }
                        else {
                            console.log("error");
                        }
                        console.log("(rate) id = " + AppartementId + " val = " + AppartementVal + " retour = " + data);
                    });

                $.get('/WishList/UpdateRate?appartId=' + AppartementId + '&val=' + AppartementVal,
                    function (data) {
                        if (data != 0) {
                            console.log("error");
                        }
                        console.log("(updateRate) id = " + AppartementId + " retour = " + data);
                        location.reload(); // QUESTION pas sur que cela soit une bonne idée pour les performances ? possible de loader une partie de la page seulement ?
                    });
            });

            $('.aRemoveFromWish').click(function (e) {
                var btn = $(this);
                var AppartementId = btn.attr('id');

                $.get('/Appartements/AddRemove?appartId=' + AppartementId + '&val=1',
                    function (data) {
                        if (data == 0) {
                            console.log("remove works"); // DEBUG
                            location.reload(); // QUESTION pas sur que cela soit une bonne idée pour les performances ? possible de loader une partie de la page seulement ?
                        }
                        else if (data == -1) {
                            console.log("remove doesn't work"); // DEBUG
                        }
                        else {
                            console.log("remove pas normal ?? return val = " + data); // DEBUG
                        }
                    });
            });
        });
    </script>
}

