@model IEnumerable<Razor_Pre_TPI_AppartRental.Models.AppartementViewModel>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppartementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InWishlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppartementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InWishlist)
            </td>
            <td>
                <button id="@item.AppartementId" data-val="@item.Visited" class="btn btn-light">
                    @(item.Visited ? " ✓ " : " not yet [click to update] ")
                </button>
                <button id="@item.AppartementId" data-val="@item.HasRate" class="btn-info">
                    @(item.HasRate ? " unrate " : " rate ")
                </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>}
    </tbody>
</table>

@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $('.btn').click(function (e) {
                var btn = $(this);
                var AppartementId = btn.attr('id');
                var AppartementVal = btn.attr('data-val') == "False" ? 0 : 1;

                $.get('/WishList/VisitOrNot?id=' + AppartementId + '&val=' + AppartementVal,
                    function (data) {
                        if (data == 0) {
                            btn.attr('data-val', 'False');
                            btn.html(' not yet [click to update] ');
                        }
                        else if (data == 1) {
                            btn.attr('data-val', 'True');
                            btn.html(' ✓ ');
                        }
                    });
            });

            $('.btn-info').click(function (e) {
                var btn = $(this);
                var AppartementId = btn.attr('id');
                var AppartementVal = btn.attr('data-val') == "False" ? 0 : 1;

                $.get('/Appartement/Rate?id=' + AppartementId + '&val=' + AppartementVal,
                    function (data) {
                        if (data == 0) {
                            btn.attr('data-val', 'False');
                            btn.html(' rate ');
                        }
                        else if (data == 1) {
                            btn.attr('data-val', 'True');
                            btn.html(' unrate ');
                        }
                    });
            });
        });
    </script>
}
