@model IEnumerable<Razor_Pre_TPI_AppartRental.Models.AppartementViewModel>
@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

@{
    if (User.IsInRole("0"))
    {
        <p><strong>0</strong></p> 
    }
    else if (User.IsInRole("admin"))
    {
        <p><strong>admin</strong></p> 
    }
    else if (User.IsInRole("Admin"))
    {
        <p><strong>acces Admin</strong></p> 
        <a asp-action="Create">Create New</a>
    }
    else if (User.IsInRole("ADMIN"))
    {
        <p><strong>ADMIN</strong></p> 
    }
    else
    {
        <p><strong>aucun rôle n'a été reconnu</strong></p> 
    }
}


<!--<button id="tmp" data-val="0" class="btn btnRole">" assigner role !"</button>--> <!--INFO : j'ai été obligé d'utiliser ce bouton pour assigner à l'utilisateur courant le role que j'ai ajouter dans la table de donnée-->

<p>
    <!--<a asp-action="Create">Create New</a> -->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InWishlist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surface)
            </th>
            <th  class="text-center">
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Year)
    </td>
    <td>
        <button id="@item.AppartementId" data-val="@item.InWishlist" class="btn btnWish border-secondary">
            @(item.InWishlist ? " retirer " : " ajouter ")
        </button>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surface)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.Rating)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.AppartementId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.AppartementId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.AppartementId">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>


@section Scripts {
    <script>
        jQuery(document).ready(function () {
            $('.btnWish').click(function (e) {
                var btn = $(this);
                var AppartementId = btn.attr('id');
                var AppartementVal = btn.attr('data-val') == "False" ? 0 : 1;

                $.get('/Appartements/AddRemove?appartId=' + AppartementId + '&val=' + AppartementVal,
                    function (data) {
                        if (data == 0) {
                            btn.attr('data-val', 'False');
                            btn.html(' ajouter ');
                        }
                        else if (data == 1) {
                            btn.attr('data-val', 'True');
                            btn.html(' retirer ');
                        }
                    });
            });
            $('.btnRole').click(function (e) {
                var btn = $(this);

                $.get('/Appartements/Test',
                    function (data) {
                        if (data == 0) {
                            btn.attr('data-val', 'False');
                            btn.html(' role ? ');
                        }
                        else if (data == 1) {
                            btn.attr('data-val', 'True');
                            btn.html(' role assigné ! ');
                        }
                    });
            });
        });
    </script>
}
